 body {
	font-family: sans-serif;
}

*{
	box-sizing: border-box;
	}

a{
	text-decoration: none;
	color: inherit;
}

ul{
	display: flex;

	list-style: none;
	margin: 0;
	padding: 0;
}

div{
	padding: 30px;
}

.newOne{
	color: lightblue;
	padding-left: 30px;
}

.newOne:hover{
	color: darkblue;
}

.newOne::after{
	content: "/";
	height: 5px;
	color: black;
	padding-left: 3px;
}

.newOne:last-child::after{
	display: none;
}


.radioButton{
	display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    font-size: 22px;
}

.radioButton input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.radioButton:hover input ~ .checkmark {
  background-color: blue;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 50%;
  box-sizing: content-box;
}

.radioButton input:checked ~ .checkmark {
  background-color: #ccc;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radioButton input:checked ~ .checkmark:after {
  display: block;
}

.radioButton .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: darkgreen;
}