body {
	font-family: sans-serif;
}

*{
	box-sizing: border-box;
	}

a{
	text-decoration: none;
	color: inherit;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

h1{
	font-size: 22px;
}

h2{
	font-size: 13px;
}

.product-detail{
	color: #fff;
}

.back-text{
	font-size: 6rem;
	font-weight: 800;
	position: relative;
	left: -30px;
	top: 20px;
	line-height: 20px;
	opacity: 0.2;
}

.container{
	background-color: grey;
}

.card{
	margin: 20 30px;
	width: 290px;
	border-radius: 15%;

}

.card-head{
	background-color: red;
	border-top-left-radius: 13%;
	border-top-right-radius: 13%;
	padding: 25px;
	position: relative;
}

.card-logo{
	width: 45px;
}

.product-img{
	position: absolute;
	width: 250px;
	z-index: 3;
	transform: rotate(25deg);
	left: 120px;
	top: 120px;
}

.card-body{
	background-color: #fff;
	border-bottom-right-radius: 13%;
	border-bottom-left-radius: 13%;
	padding: 25px;
}

.ul-size .active{
	background-color: red;
	padding: 4px;
	border-radius: 50%;
}

.ul-size{
	display: flex;
	justify-content: space-between;
	max-width: 180px;
}

.new-class{
	display: flex;
	justify-content: space-between;
}

.ul-color{
	display: flex;
	justify-content: space-between;
	width: 100px;
}

.ul-color a{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
}

li .orange{
	background-color: orange;
}

li .green{
	background-color: green;
}

li .yellow{
	background-color: yellow;
}

.product-price{
	background-color: green;
	padding: 15px;
	border-radius: 13%;
	margin-top: 20px;
	color: #fff;
	display: flex;
	height: 45px;
	position: relative;
	top: 25px;
	left: 50px;
	width: 170px;
}

.search {
  width: 35%;
  position: relative;
}

.search input {
  border: none;
}

.search .input {
  width: 100%;
  padding: 8px 37px 9px 15px;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
  border-radius: 20px;
  background: #EEE;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;
  outline: none;
}

.search .input:focus {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
  background: #E8E8E8;
  color: #333;
}

.search .submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  cursor: pointer;
  background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
  opacity: 0.5;
}

.search .submit:hover {
  opacity: 0.8;
}

.ul-color li:first-child{
	position: relative;
}

.ul-color li:first-child:after{
	display: inline-block;
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid orange;
	right: -3px;
	bottom: 1px;


}