body {
	color: black;
	font-family: sans-serif;
}

*{
	box-sizing: border-box;
	}

a{
	text-decoration: none;
	color: inherit;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}


table{
	border: 1px solid grey;
	border-collapse: collapse;
}

tr{
	border: 1px solid grey;
}

td{
	border: 1px solid grey;
}

.fiction{
	border: none;
}

div{
	margin: 20px;
}