body {
	color: black;
	font-family: sans-serif;
}

*{
	box-sizing: border-box;
	}

a{
	text-decoration: none;
	color: inherit;
}


.forBorders th{
	border: 1px solid grey;
}

table{
	border: 1px solid grey;
	border-collapse: collapse;
}

tr{
	border: 1px solid grey;
}

td{
	border: 1px solid grey;
}

div{
	margin: 20px;
}

.lists{
	display: flex;
	justify-content: space-around;
}

.highlite{
	font-weight: 600;
}

.b{
	list-style-type: square;
}

.c{
	list-style-type: circle;
}

.d{
	list-style-type: none;
}

.f{
	list-style-type: decimal-leading-zero;
}

.g{
	list-style-type: lower-alpha;
}

.h{
	list-style-type: lower-roman;
}